/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;

  * {
    color: #202020;
  }
}
.top {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  background-color: #ffffff;
}

.top h1 {
  line-height: 100vh;
  display: inline-block;
  font-size: 4rem;
}

.about {
  height: 100vh;
  background-color: #eeeeee;
  padding: 0 10vw;
  display: flex;
}

.about-header {
  font-size: 2rem;
  padding-bottom: 2vh;
}

h2 {
  font-size: 3rem;
  padding-bottom: 3vh;
}

.about-content p {
  font-size: 1rem;
}

.text-contents {
  font-size: 1rem;
}

.heading h4 {
  font-size: 2rem;
  padding-bottom: 2vh;
}

.about-contents {
  display: flex;
}

.text-contents {
  padding-right: 3vw;
}

.work-list {
  text-align: center;
  height: 100vh;
  background-color: #ddd;
}

.works {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border: none;
  margin: auto;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}

.contact {
  height: 100vh;
  background-color: #eee;
  display: flex;
  align-items: center;
  .contact-contents {
    margin: auto;
    width: 50%;
    .heading h4 {
      font-size: 1.6rem;
      text-align: center;
    }
    .type {
      p {
        font-size: 0.5rem;
        opacity: 0.5;
      }
      background-color: rgb(255, 255, 255);
      height: 85%;
      margin: auto;
      input {
        border: none;
        border-bottom: solid 1px rgba(3, 3, 3, 0.4);
        font-size: 1rem;
        margin-top: 3vh;
        opacity: 0.5;
      }
      textarea {
        height: 20vh;
        width: 43vw;
        margin-top: 2vh;
        opacity: 0.5;
      }
      .btn-submit {
        background-color: #cddc3a;
        width: 44vw;
        font-size: 0.7rem;
        color: black;
        text-align: center;
        margin: 0 auto;
        margin-top: 0.3rem;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(3, 3, 3, 0.8);
        margin: auto;
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: #333;
          padding: 0.5rem 0;
          font-weight: bold;
        }
      }
    }
  }
}

footer {
  background-color: #666;
  color: #ffffff;
  text-align: center;
  height: 5vh;
  p {
    color: #ffffff;
  }
}

.work-icon img {
  width: 100%;
  height: 95px;
  object-fit: cover;
}

.about-content {
  width: 50%;
}

.about {
  align-items: center;
}

.work-list {
  align-items: center;
  display: flex;
  padding: 0 7rem;
  .work {
    background-color: white;
    text-align: left;
    line-height: 0.8rem;
    width: 31%;
  }
}

.text-content {
  font-size: 0.5rem;
}

.btn-works {
  margin-top: 2rem;
  background-color: #cddc3a;
  width: 20vw;
  font-size: 0.7rem;
  color: black;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(3, 3, 3, 0.8);

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 0;
    font-weight: bold;
  }
}

.work-content p {
  padding: 0.5rem 0;
}

.work-content {
  padding: 0.5rem;
}

@media screen and (max-width: 480px) {
  .top {
    h1 {
      height: 100vh;
      width: 100vw;
    }
  }
  .about-content {
    width: 100%;
  }
  footer {
    text-align: center;
  }
}

header {
  padding: 30px;
}

#nav-drawer {
  position: relative;
}

.nav-unshown {
  display: none;
}

#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

#nav-open span,
#nav-open span:before,
#nav-open span:after {
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #555;
  display: block;
  content: "";
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 300px;
  height: 100%;
  background: #fff;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

#nav-input:checked ~ #nav-close {
  display: block;
  opacity: 0.5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

#nav-content {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  li {
    line-height: 4.5rem;
  }
  li:nth-child(n + 4) {
    opacity: 0.5;
  }
}

header {
  position: fixed;
}
